<configuration>
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%t] [%X] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="${logging.level.root}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="!local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <message>msg</message>
                </fieldNames>
            </encoder>
        </appender>
        <root level="${logging.level.root}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>